@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Rubik+Burned&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "lemon";
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(peter-olexa-mxIGWk111u0-unsplash.jpg) center center;
    background-size: cover;
}
.overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.363);
}
.title{
    color: rgb(255, 255, 255);
    font-size: 5rem;
   text-align: center;
   margin-top: 20px;
}
.col{
    width: 70vw;
    height: 20vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    border: white 2px solid;
}
input{
    height: 60px;
    font-size: 20;
    margin-right: 30px;
}